.contacts-header img {
	width: 50px;
}
.packs-content img, article {
	width: 350px; /*тут регулируем размеры картинок каталога*/
}


.packs-content {
	display: flex;
	justify-content: space-between;
}/*разобраться по флексу*/

.packs-content article {
	height: 500px;
	background-color: white;
	text-align: center;
} 

a {
	text-decoration: none;
}
main {
	background-color: #f7f7f7;
}

body {
	font-family: L&C Hairline HQ;
}