.contacts-header img {
	width: 50px;
}

.packs-content img {
	width: 500px; 
}

.block {
	border-radius: 10%; 
	border-color: black;
	border-size: 2px;
	text-align: center;
} /*как сделать то блок? смотреть в основах пхп*/
